<nav class="navbar navbar-dark bg-light navbar-expand-sm">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-2" *ngIf="!isLogin()">
          <a routerLink="/users/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item px-2" *ngIf="!isLogin()">
          <a routerLink="/users/register" class="nav-link">Register</a>
        </li>
        <li class="nav-item px-2" *ngIf="isLogin()">
          <a routerLink="/" class="nav-link">
            {{getUser().name}}</a>
        </li>
        <li class="nav-item px-2" *ngIf="isLogin()" (click)="clickLogout()">
          <a routerLink="#!" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
