<div class="container mt-3">
  <div class="row">
    <div class="col-md-4 m-auto">
      <div class="card animated jello">
        <div class="card-header bg-primary text-white">
          <p class="h4">Forget Password</p>
        </div>
        <div class="card-body bg-light">
          <form (submit)="forgetPassword()">
            <div class="form-group">
              <input
                name="email"
                [(ngModel)]="user.email"
                type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input
                name="capturetext"
                [(ngModel)]="captureText"
                type="password" class="form-control" placeholder="Enter below CaptureText ">
            </div>
            <div class="form-group">
              <small>{{textdefult}}</small><input class="icon-refresh" type="button" value="Refresh" (click)="refreshText()" name="Test"></div>
            <div>
              <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
